/// <reference path="./core-styles.scss" />

.mud-button-label {
	.mud-button-icon-start {
		margin-right: .25em;
		margin-top: -2px;
	}

	.mud-button-icon-end {
		margin-left: .25em;
		margin-top: -2px;
	}
}

.mud-icon-button.mud-button {
	border-radius: 50%;
}