/// <reference path="./core-styles.scss" />

.multiple-image-component {
	position: relative;

	a.mud-link {
		display: flex;
		flex-direction: column;
		justify-items: center;
	}

	.mud-icon-button {
		position: absolute;
		bottom: 2px;
		right: 2px;
		z-index: 1;
	}
}