@using Unshackled.Kitchen.Core.Models.Recipes

<span class="label-unit">@GetAmountLabel()</span>

@code {
	[Parameter] public decimal Amount { get; set; }
	[Parameter] public NutritionUnits? AmountUnit { get; set; }

	protected MarkupString GetAmountLabel()
	{
		var amount = $"<span class=\"amt\">{Amount.ToHtmlFraction()}</span>";
		string amountLabel = AmountUnit.HasValue ? $"<span class=\"amt-label\">{AmountUnit.Value.Label()}</span>" : string.Empty;

		return (MarkupString)$"{amount}{amountLabel}";
	}
}
