/// <reference path="./styles.scss" />

.label-unit {
	display: flex;
	flex-direction: row;
	gap: 0.25em;
	column-gap: 0.25em;
	row-gap: 0;
	flex-wrap: wrap;

	.stack {
		display: inline-block;
	}

	.amt {
		display: inline-block;
	}

	.amt-label {
		display: inline-block;
		color: var(--mud-palette-tertiary);
		margin-left: .125em;
	}

	.prep {
		color: var(--mud-palette-tertiary);
	}

	.small-label {
		font-size: .8em;
	}

	&.label-unit-stacked {
		flex-direction: column;
	}
}