/// <reference path="./core-styles.scss" />

.icon-only {
	min-width: auto;

	.mud-button {
		min-width: auto;
	}

	.mud-button-label {
		.mud-button-icon-start {
			margin-right: 0;
		}

		.mud-button-icon-end {
			margin-left: 0;
		}
	}
}

.mud-list-item-icon {
   min-width: auto;
   margin-right: .5em;
}

.mud-collapse-container {
	.mud-nav-item {
		font-size: .95rem;

		.mud-nav-link {
			padding: .2rem 1rem;
		}
	}
}
